

$primaryBackgroundColor: #ffffff;
$primaryTextColor: #333333;

$panelTextColor: #ffffff;
$panelBackground: #92288E;
$panelMenuBorder: #7A2178;
$linkTextColor: #ffffff;
$linkTextColorHover: #CC1061;

$linkBackgroundColor: transparent;
$linkBackgroundColorActive: #CC1061;
$linkBackgroundColorHover: #cccccc;

$borderColor: #cccccc;

$myRedButton: #e2001e;

$myBlueButton:#0bbeeb;

$myGreenButton:#90d100;


[ng-cloak].splash {
  display: block !important;
  background-color: $panelBackground;
  height:100%;
  width:100%;
  color: $panelTextColor;
  text-align: center;
  padding-top: 5em;
}
.splash {
  display: none;
}
.splash {
  background-color: #428bca;
}


html {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    p{
      font-family: 'Open Sans', sans-serif;
      margin:0;
    }
    h1, h2, h3{
      font-family: 'Open Sans', sans-serif;
      margin: 0;
    }

    .innerBody {
      background-color: $primaryBackgroundColor;
      color: $primaryTextColor;
      position: relative;
      height:100%;
      margin: 0 auto;
      overflow:hidden;
      padding-bottom: 2em;
      max-width:1024px;
      max-height:1024px;

      .myHeader {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 9.5em;
      }
      .myView {
        position: absolute;
        overflow:auto;
        top: 9.5em;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 1.0em;
      }

      .add-button{
        float: right;
        background: $myGreenButton;
        color: white;
      }
      .edit-button{
        float: right;
        background: $myBlueButton;
        color: white;
      }
      .delete-button{
        //float: right;
        background: $myRedButton;
        color: white;

      }
    }
  }
}


@media only screen and (max-width: 240px){
  body{
    font-size: 75%;
  }
}
@media only screen and (max-width: 200px){
  body{
    font-size: 50%;
  }
}