$selectedColor: rgba(0, 0, 0, 0.4);
$selectedLightColor: rgba(255, 00, 000, 0.4);

.innerHeader{
  width:100%;
  height:100%;
  padding: 0;
  background-color: $panelBackground;

  h1{
    font-size: 250%;
    color: $panelTextColor;
  }
  h3 {
    color: $panelTextColor;
    font-weight:normal;
  }
  .titles{
    margin-left:1em;
    margin-right:1em;
    margin-bottom: 1em;
  }

  .onlineWarning{
    position: absolute;
    bottom: 0.5em;
    right: 1.0em;
    width:auto;
    height:auto;
    color: $panelTextColor;
    background-color: $selectedColor;
    padding: 0.2em;
    border-radius: 3px;

    &.tooMuch{
      color: yellow;
      background-color: $selectedLightColor;

    }
  }

  .waitSpinner{
    position: absolute;
    bottom: 3em;
    right: 1.0em;
    width:3em;
    height:4em;
    color: $panelTextColor;
    p{
      font-size: 300%;
    }
  }
  .pure-menu{
    border: 1px solid $panelMenuBorder;

    .selected{
      background-color: rgba(0, 0, 0, 0.4);
      color: $linkTextColor;

    }
  }

  a{
    &.pure-menu-link{
      color: $linkTextColor;
    }
  }
  a:hover{
    &.pure-menu-link{
      background-color: $selectedColor;
    }
  }

  a:active, a:focus{
    &.pure-menu-link{
      color: $linkTextColor;
    }
  }
}
