<!-- Header template -->
<div class="innerHeader">
    <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
            <li class="pure-menu-item" ng-repeat="item in header.menu" ng-cloak>
                <a ng-click="header.setItem(item.title)" href="{{item.link}}" ng-class="{'selected': item.selected}" class="pure-menu-link">{{item.title}}</a>
            </li>
        </ul>
    </div>
    <div class="titles" ng-cloak>
        <h1>{{app.companyTitle}}</h1>
        <h3>{{app.appName}}</h3>
        <div class="onlineWarning" ng-class="{'tooMuch': header.onlineUsers>1}"><p>Online: {{header.onlineUsers}}</p></div>
        <div ng-show="header.showSpinner()" class="waitSpinner"><p><i class="fa fa-refresh fa-spin"></i></p></div>
    </div>
</div>
