.productView{
  overflow: auto;
  h2 {
    color: $panelBackground;
    font-weight: normal;
  }
  .pureSpace{
    padding-top: 0.4em;
    padding-bottom: 0;

  }

  .panel2{
    border: 1px solid $borderColor;
    border-radius: 5px;
    padding-left: 1em;
    padding-right: 1em;

  }
  .imgPlaceHolder{
    border: 1px solid $borderColor;
    border-radius: 5px;
    background: #fefefe;
    padding: 0;
    margin-right: 1em;
    margin-bottom: 1em;
    .myImg{
      width:100%;
      margin: 0;
      display: block;
    }
  }
}
