<div class="productView">
    <h2>{{view.product.name}}&nbsp;</h2>
    <form style="overflow-y:auto;" class="pure-form" ng-submit="view.submit()">
        <fieldset>

                <div class="pure-g">


                    <div class="pure-u-1 pure-u-sm-2-5">
                        <div class="imgPlaceHolder"><img class="myImg" src="assets/images/device.jpg"></div>
                    </div>

                    <div class="pure-u-1 pure-u-sm-3-5 panel2">
                    <!-- right -->
                    <div class="pure-u-1 pure-u-sm-23-24 pure-form-aligned">
                        <label class="pure-u-1 pure-u-sm-4-24" for="name">Name</label>
                        <input class="pure-u-1 pure-u-sm-23-24" id="name" ng-model="view.product.name" type="text" placeholder="Product name">
                    </div>

                    <div class="pure-u-1 pure-u-sm-11-24">
                        <label class="pure-u-1" for="category">Category</label>
                        <input class="pure-u-23-24 pure-u-sm-23-24" id="category" ng-model="view.product.category" type="text" placeholder="Category">
                    </div>

                    <div class="pure-u-1 pure-u-sm-11-24">
                        <label class="pure-u-1" for="code">Code</label>
                        <input class="pure-u-23-24 pure-u-sm-23-24" id="code" ng-model="view.product.code" type="text" placeholder="Code">

                    </div>

                    <div class="pure-u-1-2 pure-u-sm-11-24">
                        <label class="pure-u-1" for="price">Price</label>
                        <input class="pure-u-23-24 pure-u-sm-23-24" id="price" ng-model="view.product.price" type="text" placeholder="Price">
                    </div>

                    <div class="pure-u-1 pureSpace">
                        <div class="pure-u-21-24 pure-u-sm-21-24"><p>Add detail:</p></div>
                        <div class="pure-u-2-24 pure-u-sm-2-24">
                            <div class="pure-button add-button" ng-click="view.addDetail()">+</div>
                        </div>
                    </div>

                    <div class="pure-u-1">
                        <div class="pure-u-9-24">
                            Key
                        </div>
                        <div class="pure-u-9-24">
                            Value
                        </div>
                        <div class="pure-u-4-24">
                            &nbsp;
                        </div>
                    </div>

                    <div class="pure-u-1" ng-repeat="detail in view.product.details">
                        <div class="pureSpace">
                            <div class="pure-u-9-24">
                                <input class="pure-u-1" ng-model="detail.dkey">
                            </div>
                            <div class="pure-u-9-24">
                                <input class="pure-u-1" ng-model="detail.value">
                            </div>
                            <div class="pure-u-4-24">
                                <div class="pure-button delete-button" ng-click="view.deleteDetail(detail)">-</div>
                            </div>
                        </div>
                    </div>
                    <!-- right -->
                    <div class="pure-controls">
                        <button style="clear:both;margin-top:1em;" type="submit" class="pure-button pure-button-primary">Save</button>
                    </div>
                    <div><br></div>
                    </div>

                </div>


        </fieldset>
    </form>
</div>