.productList {
  overflow: auto;
  .list {
    border: 1px solid $borderColor;
    border-radius: 5px;
    padding: 0.5em;
    clear: both;
    height: 100%;
  }

  .listTitle{
    border-bottom: 2px solid $borderColor;
    padding: 0.25em;
    font-weight:bold;
  }
  .listItem{
    vertical-align: middle;
    line-height: 2em;
  }
  .row{
    border-bottom: 1px solid $borderColor;
    padding: 0.25em;
    &.even{
      background: #eeeeee;
    }
  }

  h2 {
    color: $panelBackground;
    font-weight: normal;
  }
  .titles {
    margin-left: 2em;
    padding-bottom: 1em;
  }
  .price{
    float: right;
    margin-right:0.5em;
  }
  .addNewRow{
    width: 100%;
    background:transparent;
    margin-top: 1em;
    margin-bottom: 1em;

    padding: 0.5em;
  }

  .myClear{
    clear:both;
  }
}
.confirmDelete{
  position:fixed;
  background: $primaryBackgroundColor;
  border-radius: 5px;
  border: 3px solid $panelBackground;
  top: 10em;
  width:80%;
  left: 10%;
  padding: 1em;

  .cancel-button{
    background: $myGreenButton;
    color: white;
  }
  h2 {
    color: $myRedButton;
    text-align:center;
  }
    h3{
    text-align:center;
    color: $panelBackground;
  }
  .delete-button{
    background: $myRedButton;
    color: white;
  }
}