<div class="productList">
    <h2>ProductList</h2>
    <div class="list">
        <div class="pure-g">
            <div class="pure-u-6-24 pure-u-sm-3-24 listTitle">Code</div>
            <div class="pure-u-8-24 pure-u-sm-4-24 listTitle">Category</div>
            <div class="pure-u-9-24 pure-u-sm-8-24 listTitle">Name</div>
            <div class="pure-u-6-24 pure-u-sm-3-24 listTitle"><span>Price</span></div>
            <div class="pure-u-8-24 pure-u-sm-3-24 listTitle">&nbsp;</div>
            <div class="pure-u-9-24 pure-u-sm-3-24 listTitle">&nbsp;</div>

            <div class="pure-g pure-u-1" ng-repeat="item in list.productList" ng-cloak>
                <div class="row" ng-class="{'even':$index%2==0}">
                    <div class="pure-u-6-24 pure-u-sm-3-24 listItem">{{item.code}}</div>
                    <div class="pure-u-8-24 pure-u-sm-4-24 listItem">{{item.category}}</div>
                    <div class="pure-u-9-24 pure-u-sm-8-24 listItem">{{item.name}}</div>
                    <div class="pure-u-6-24 pure-u-sm-3-24 listItem"><span class="price">{{item.price}}</span></div>
                    <div class="pure-u-8-24 pure-u-sm-3-24"><a class="pure-button edit-button" href="#/productView/{{item.id}}">Edit</a></div>
                    <div class="pure-u-9-24 pure-u-sm-2-24"><div class="pure-button delete-button" ng-click="list.deleteProduct(item.id)">Del </div></div>
                </div>
            </div>
        </div>

        <div class="addNewRow">
            <a class="pure-button add-button" href="#/productView">Add new</a>
        </div>
        <div class="myClear"></div>
    </div>
</div>
<div class="confirmDelete" ng-show="list.askDelete">
    <h3>Really delete ?</h3>
    <br>
    <div class="pure-g">
        <div class="pure-u-3-24">&nbsp;</div>
        <div class="pure-u-8-24 pure-button cancel-button" ng-click="list.askDelete=!list.askDelete">Cancel</div>
        <div class="pure-u-2-24">&nbsp;</div>

        <div class="pure-u-8-24 pure-button delete-button" ng-click="list.reallyDelete()">Delete</div>
        <div class="pure-u-3-24">&nbsp;    </div>

    </div>
    <div ng-show="list.deleted">
        <br>
        <h2>Deleted</h2>
        <br>
    </div>

</div>